.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Roboto, "Noto Sans JP", sans-serif;
  color: #333;
  background-color: #f4f5f7;
}

.main {
  flex-grow: 1;
  padding: 1rem;
}

.card {
  margin-bottom: 1rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
}

.cardTitle {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 1.125rem;
  font-weight: 600;
  color: #1e40af;
}

.icon {
  width: 1.125rem;
  height: 1.125rem;
}

.list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.listItem {
  padding: 0.75rem 0;
  font-size: 0.875rem;
  border-bottom: 1px solid #e2e8f0;
}

.listItem:last-child {
  border-bottom: none;
}

.footer {
  padding: 1rem;
  font-size: 0.75rem;
  color: white;
  text-align: center;
  background-color: #1e40af;
}

@media (width >= 640px) {
  .main {
    max-width: 768px;
    padding: 2rem;
    margin: 0 auto;
  }

  .card {
    margin-bottom: 2rem;
  }

  .cardTitle {
    font-size: 1.25rem;
  }

  .listItem {
    font-size: 1rem;
  }

  .footer {
    font-size: 0.875rem;
  }
}
