.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Roboto, "Noto Sans JP", sans-serif;
  color: #333;
  background-color: #f4f5f7;
}

.main {
  flex-grow: 1;
  padding: 1rem;
}

.card {
  margin-bottom: 1rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
}

.cardTitle {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 1.125rem;
  font-weight: 600;
  color: #1e40af;
}

.icon {
  width: 1.125rem;
  height: 1.125rem;
}

.list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.listItem {
  padding: 0.75rem 0;
  font-size: 0.875rem;
  border-bottom: 1px solid #e2e8f0;
}

.listItem:last-child {
  border-bottom: none;
}

.button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  margin-top: 0.75rem;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  background-color: #1e40af;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.button:hover,
.button:focus {
  background-color: #1e3a8a;
}

.secondaryButton {
  padding: 12px 20px; /* 上下・左右の余白 */
  margin-top: 20px; /* 上側の余白 */
  font-size: 16px; /* フォントサイズ */
  font-weight: bold; /* 太字 */
  color: #fff; /* 白文字 */
  cursor: pointer; /* クリックできることを示す */
  background-color: #0073e6; /* 鮮やかなブルー */
  border: none;
  border-radius: 8px; /* 角丸 */
  transition:
    background-color 0.3s,
    box-shadow 0.3s; /* なめらかなホバー効果 */
}

.secondaryButton:hover {
  background-color: #005bb5; /* ホバー時に少し濃いブルー */
  box-shadow: 0 4px 6px rgb(0 0 0 / 20%); /* 軽い影を追加 */
}

.secondaryButton:focus {
  outline: 3px solid #80bfff; /* フォーカス時の視認性向上 */
}

.outlineButton {
  color: #1e40af;
  background-color: transparent;
  border: 1px solid #1e40af;
}

.outlineButton:hover,
.outlineButton:focus {
  background-color: rgb(30 64 175 / 10%);
}

.footer {
  padding: 1rem;
  font-size: 0.75rem;
  color: white;
  text-align: center;
  background-color: #1e40af;
}

@media (width >= 640px) {
  .main {
    max-width: 768px;
    padding: 2rem;
    margin: 0 auto;
  }

  .card {
    margin-bottom: 2rem;
  }

  .cardTitle {
    font-size: 1.25rem;
  }

  .listItem {
    font-size: 1rem;
  }

  .footer {
    font-size: 0.875rem;
  }
}
